.shareContainer{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    /* box-shadow: 4px 3px 27px 5px rgba(0,0,0,0.47);
-webkit-box-shadow: 4px 3px 27px 5px rgba(0,0,0,0.47);
-moz-box-shadow: 4px 3px 27px 5px rgba(0,0,0,0.47); */
}

.shareTopbar{
    margin-bottom: 15px;
    display: flex;
}

.shareprofileImage{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.writePost{
    border: none;
    background-color: whitesmoke;
    margin-left: 15px;
    white-space: normal;
}

.writePost:focus{
    outline: none;
    
}

.shareBottombar{
    margin-bottom: 15px;
    display: flex;
}

.postOptions{
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.postIcon{
    font-size: 14px;
    margin-right: 4px;
}

.postOptionName{
    font-size: 12px;

}

.shareButton{
    
   
    background-color: #fe3c72;
    border: none;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
   
}

