.homeContainer{
    display: flex;
}
.leftbar-container{
    flex:2;
}
.homeFeedContainer{
    flex: 7;
}
.rightbar-container{
flex: 3;
}



@media (max-width: 768px){
    .leftbar-container{
        display: none;
    }

    .rightbar-container{
        display: none;
    }
}