

.belowTopbarProfile{
    display: flex;
}

.leftprofilebar{
    flex: 2
}

.rightprofileBar{
   
    flex: 9;

}

.profileCover{
    height: 300px;
   
    
position: relative;
}
.coverPic{
    height: 250px;
    width: 100%;

}
.profilepic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    border: solid white;
}

.profileInfo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightProfileBottom{
    display: flex;
}
.profileUsername{
    color: grey;
}

.profile-feed{
flex:7
}

.profile-rightbar{
flex:3
}

.social-media-stats {
    
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .profileInfos{
    display: flex;
    flex-direction: row;
    
  }
  
  .social-media-stats h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
  }
  
  .social-media-stats strong {
    font-weight: bold;
  }
  
  .social-media-stats span {
    color: #888;
  }
  



@media (max-width: 768px){
    .leftprofilebar{
        display: none;
    }

    .profile-rightbar{
        display: none;
    }

}