.postContainer{
    background-color: whitesmoke;
    
    border-radius: 15px;
    margin: 15px;  
}

.wrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfile{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
   margin-right: 10px;
}
.postProfileName{
    font-size: 15px;
    margin-right: 10px;
}
.postDate{
    font-size: 12px;
}
.postMiddle{
    margin: 10px 0px;
}

.postImage{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-top: 10px;
}

.postBottom{
    
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
}
.postButton{
    margin-right: 10px;
}
.likeCount{
    font-size: smaller;

}

.postButton{
    height: 25px;
    width: 25px;
    cursor: pointer;
}