.rightBarContainer{
    flex: 3.5;
    
    height: calc(100vh - 50px);
}

.rightBarWrapper{
    margin: 5px 10px 5px 5px;
    
    
}

.bdayMsg{
    display: flex;
    align-items: center;
    
}

.bdayIcon{
    height: 100px;
    width: 100px;
}

.adBox{
    margin-top: 5px;
}
.adImg{
    width: 100%;
    border-radius: 10px;
}


.onlineFrndsHeading{
    margin: 10px;
}

.imageContainerOnline{
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
}
.onlinebadge{
    height: 10px;
    width: 10px;
    background-color: limegreen;
    border-radius: 50%;
    border-color: white;
    position: absolute;
    right: 0;
    top: -2px;
    border: 2px solid white;

    
}


.friendsList{
    list-style: none;
}

.friendsonline{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.friendsImage{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.friendsName{
    margin-left: 15px;
}
